.spr-a, .spr-b {
    display: inline-block;
    vertical-align: middle;
}
.spr-a {
    width: 30px;
    height: 41px;
    background: url('../img/spr-a.png') no-repeat top left;
}
.spr-a.spr-1 {
    background-position: 0 0;
    width: 46px;
    height: 28px;
}
.spr-a.spr-2 {
    background-position: 0 -38px;
    width: 46px;
    height: 45px;
}
.spr-a.spr-3 {
    background-position: 0 -93px;
    width: 46px;
}
.spr-a.spr-4 {
    background-position: 0 -144px;
    width: 43px;
    height: 43px;
}
.spr-a.spr-5 {
    background-position: 0 -197px;
    width: 48px;
    height: 52px;
}
.spr-a.spr-6 {
    background-position: 0 -259px;
    width: 44px;
    height: 44px;
}
.spr-a.spr-7 {
    background-position: 0 -313px;
    width: 42px;
    height: 42px;
}
.spr-a.spr-8 {
    background-position: 0 -365px;
    width: 22px;
    height: 48px;
}
.spr-a.spr-9 {
    background-position: 0 -423px;
    width: 32px;
    height: 40px;
}
.spr-a.spr-10 {
    background-position: 0 -473px;
    width: 39px;
    height: 39px;
}
.spr-a.spr-11 {
    background-position: 0 -522px;
    height: 29px;
}
.spr-a.spr-12 {
    background-position: 0 -561px;
    height: 30px;
}
.spr-a.spr-13 {
    background-position: 0 -601px;
    width: 35px;
    height: 21px;
}
.spr-a.spr-14 {
    background-position: 0 -632px;
    width: 52px;
    height: 52px;
}
.spr-a.spr-15 {
    background-position: 0 -694px;
    width: 29px;
    height: 27px;
}
.spr-a.spr-16 {
    background-position: 0 -731px;
    width: 31px;
    height: 30px;
}
.spr-a.spr-17 {
    background-position: 0 -771px;
    width: 25px;
    height: 31px;
}
.spr-a.spr-18 {
    background-position: 0 -812px;
    width: 42px;
}
.spr-a.spr-19 {
    background-position: 0 -863px;
    height: 37px;
}
.spr-a.spr-20 {
    background-position: 0 -910px;
    width: 42px;
    height: 42px;
}
.spr-a.spr-21 {
    background-position: 0 -962px;
    width: 40px;
}
.spr-a.spr-22 {
    background-position: 0 -1013px;
    width: 43px;
    height: 46px;
}
.spr-a.spr-23 {
    background-position: 0 -1069px;
    width: 43px;
    height: 43px;
}

.spr-b {
    background: url('../img/spr-b.png') no-repeat top left;
    width: 20px;
    height: 17px;
}
.spr-b.spr-1 {
    width: 21px;
    height: 20px;
    background-position: 0 0;
}
.spr-b.spr-2 {
    background-position: 0 -30px;
}
.spr-b.spr-3 {
    width: 11px;
    height: 21px;
    background-position: 0 -57px;
}
.spr-b.spr-4 {
    width: 33px;
    background-position: 0 -88px;
}
.spr-b.spr-5 {
    width: 33px;
    background-position: 0 -115px;
}
.spr-b.spr-6 {
    width: 17px;
    height: 33px;
    background-position: 0 -142px;
}
.spr-b.spr-7 {
    width: 17px;
    height: 33px;
    background-position: 0 -185px;
}
.spr-b.spr-8 {
    width: 44px;
    height: 41px;
    background-position: 0 -228px;
}
.spr-b.spr-9 {
    width: 44px;
    height: 41px;
    background-position: 0 -279px;
}
.spr-b.spr-10 {
    width: 15px;
    height: 14px;
    background-position: 0 -330px;
}
.spr-b.spr-11 {
    height: 13px;
    background-position: 0 -354px;
}
.spr-b.spr-12 {
    height: 20px;
    background-position: 0 -377px;
}
.spr-b.spr-13 {
    width: 15px;
    height: 20px;
    background-position: 0 -407px;
}